<!-- footer.component.html -->
<footer class="footer fixed-bottom">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <p class="mb-0"><b><i class="fas fa-copyright"></i> <strong class="text-primary">2023 Experimental Solution</strong></b> Designed with <i class="fas fa-heart text-danger"></i> by <span class="text-success">Satish Gupta</span></p>
        <p class="mb-0">He is your <span class="text-info"><strong>innovative wizard</strong> <i class="fas fa-magic"></i></span> for transforming complex tasks into captivating solutions</p>
      </div>
    </div>
  </div>
</footer>
