<div class="about-container">
  <div class="about-details">
    <div class="box">
      <h1 class="about-heading">About Us</h1>
      <p class="about-description">We are a team of dedicated professionals passionate about creating innovative solutions.</p>
      <p class="about-description">Our mission is to provide cutting-edge technology to simplify complex tasks.</p>
      <p class="about-description">We are on a journey to create impact through technology.</p>
      <p class="about-description">If you're enthusiastic about technology and innovation, we invite you to join us.</p>
      <p class="about-description">Contact us today to explore the endless possibilities of innovation and collaboration.</p>
      <p class="about-description">Stay tuned for more updates about our diverse team.</p>
      <p class="about-description">Our team includes engineers, data scientists, and MBA graduates from prestigious universities, as well as research scientists.</p>
      <p class="about-description">Feel free to connect with us and discuss your needs. We believe in growing together and offer free ideation consultations.</p>
      <a routerLink="/contact" class="btn btn-primary contact-btn">Contact Us</a>
    </div>
  </div>
  <div class="about-image"></div>
</div>
