<div class="contact-container">
    <div class="contact-info">
      <div class="tile">
        <i class="fas fa-phone tile-icon"></i>
        <p>Phone Number</p>
        <p>+61403682529</p>
      </div>
      <div class="tile">
        <i class="fas fa-envelope tile-icon"></i>
        <p>Email</p>
        <p>experimentalsolution@gmail.com</p>
      </div>
      <div class="tile">
        <i class="fab fa-whatsapp"></i>
        <p>Whatsapp</p>
        <p>+917219602468</p>
      </div>
    </div>
    <div class="contact-form">
      <h2>Contact Us</h2>
      <form (submit)="handleSubmit($event)">
        <div class="form-group">
          <label for="name">Your Name</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="email">Your Email</label>
            <input type="email" id="email" name="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
            <small class="form-text">Please enter a valid email address.</small>
          </div>
        <div class="form-group">
          <label for="query">Your Query</label>
          <textarea id="query" name="query" rows="4" required></textarea>
        </div>
        <div class="form-actions">
            <button type="submit" class="submit-button">Submit</button>
            <div class="form-messages">
              <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
              <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
            </div>
        </div>
      </form>
   
    </div>
  </div>
  