<div class="home-container">
  <div class="content-section">
    <div class="box">
      <h2 class="animation-text">Looking to build an intelligent system?</h2>
      <p>We will understand your needs and use three principles to suggest a solution.</p>
      <p>Powered by AI and generative AI.</p>
    </div>
    <div class="content">
      <div class="principles">
        <div class="principle">
          <h3 class="animated-color1">🧠 Conceptualize</h3>
          <p>Brainstorming and understanding the end-to-end needs.</p>
          <div class="arrow"></div>
        </div>
        <div class="principle">
          <h3 class="animated-color2">🛠 Innovate</h3>
          <p>360-degree analysis of the problem statement, researching from various sources, and crafting an intelligent process.</p>
          <div class="arrow"></div>
        </div>
        <div class="principle">
          <h3 class="animated-color3">✅ Resolve</h3>
          <p>Suggesting the solution, taking feedback, and iterating until 100% satisfaction.</p>
          <div class="arrow"></div>
        </div>
      </div>
      <a routerLink="/explore" class="nav-link btn btn-primary btn-lg explore-button" role="button">
        Explore <i class="fas fa-arrow-right"></i>
      </a>
      
    </div>
  </div>
  <div class="background-section"></div>
</div>
